rss-reader-copy-YvKaWsfArjGgVdF2.json
{"createdAt":"2025-09-06T00:48:44.028Z","updatedAt":"2025-09-06T00:49:16.000Z","id":"YvKaWsfArjGgVdF2","name":"RSS Reader copy","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1264,80],"id":"fb61ad18-7a99-4d17-950a-7590d8fef2aa","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.feed }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[1728,144],"id":"01e56c93-3d2f-469e-bde3-dfc572228833","name":"RSS Read"},{"parameters":{"jsCode":"return [\n  { json: { feed: \"https://slashdot.org/slashdot.rss\" } },\n  { json: { feed: \"https://news.ycombinator.com/rss\" } },\n  { json: { feed: \"https://www.bleepingcomputer.com/feed/\" } },\n  { json: { feed: \"https://omgubuntu.co.uk/feed\" } },\n  { json: { feed: \"https://www.phoronix.com/rss.php\" } },\n  { json: { feed: \"https://feeds.macrumors.com/MacRumors-All\" } }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-16],"id":"35450901-9bdd-44ef-83e3-e572137a3637","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.content }}","options":{"systemMessage":"You are an assistant that summarizes articles from RSS feeds.\n\nYour goals:\n- Read the provided article content\n- Create a short, clear summary (2–4 sentences max).\n- Highlight only the main topic and key points.\n- Do not include unnecessary details, filler text, or repeated phrases.\n- Always keep the original meaning neutral and factual.\n- Do not include Here is a summary of the article in 3 sentences:\n- If you cant find content for the URL, respond with just: No content available for this URL\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1456,-288],"id":"d9c1f9b6-d693-4b28-82e4-d24349a37f4a","name":"AI Agent","executeOnce":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"41ccc6db-7e77-41cf-9f62-a677a64030b6","name":"title","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"eb49554d-3402-496b-bc81-51cd80864b15","name":"link","value":"={{ $('Loop Over Items').item.json.link }}","type":"string"},{"id":"e940145f-9062-49cb-aabb-a54c7106687d","name":"summary","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,-272],"id":"ec681608-5f5b-4559-abd5-db1dc0860f42","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e5bc491-70dd-4819-bd35-3e6de9186e26","leftValue":"={{ $json.date }}","rightValue":"={{ $now.minus(1, 'days') }}","operator":{"type":"dateTime","operation":"after"}},{"id":"70077af5-07c4-4c88-9bbc-f5ffe3ad9e42","leftValue":"={{ $json.pubDate }}","rightValue":"={{ $now.minus(1, 'days') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,-272],"id":"07276bc7-c58e-4c23-99cd-c0278fb79716","name":"If"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"n8n_rss","mode":"list","cachedResultName":"n8n_rss"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2256,-272],"id":"b6f62ad8-0cb4-429c-82d3-1705f6e2362c","name":"Select rows from a table","executeOnce":false,"credentials":{"mySql":{"id":"EZjbvG22ZA9EBOQB","name":"MySQL account"}}},{"parameters":{"table":{"__rl":true,"value":"n8n_rss","mode":"list","cachedResultName":"n8n_rss"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"=title","value":"={{ $json.title }}"},{"column":"link","value":"={{ $json.link }}"},{"column":"summary","value":"={{ $json.summary }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2112,-272],"id":"2049c4a9-a6bf-4fa5-a275-77205fb92db1","name":"Insert rows in a table","credentials":{"mySql":{"id":"EZjbvG22ZA9EBOQB","name":"MySQL account"}}},{"parameters":{"subject":"Daily News","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>-Wiggles Newsletter</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background-color: #1e1e1e; /* Dark terminal background */\n      font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;\n      color: #c5c8c6; /* Terminal-like foreground */\n    }\n    .container {\n      max-width: 650px;\n      margin: 20px auto;\n      background-color: #282a36; /* Dracula theme background */\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 0 12px #50fa7b;\n      border: 2px solid #50fa7b; /* Neon green border */\n    }\n    .header {\n      background-color: #44475a; /* Dark slate */\n      color: #8be9fd; /* Bright cyan */\n      padding: 20px;\n      text-align: center;\n      border-bottom: 2px solid #50fa7b;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 26px;\n      letter-spacing: 2px;\n      text-transform: uppercase;\n    }\n    .header p {\n      margin: 6px 0 0 0;\n      font-style: italic;\n      color: #6272a4; /* Grayish cyan */\n    }\n    .content {\n      padding: 20px;\n    }\n    .article {\n      border-bottom: 1px solid #44475a;\n      padding-bottom: 20px;\n      margin-bottom: 20px;\n    }\n    .article:last-child {\n      border-bottom: none;\n      margin-bottom: 0;\n      padding-bottom: 0;\n    }\n    .article h2 {\n      font-size: 20px;\n      color: #50fa7b; /* Neon green */\n      margin-bottom: 10px;\n    }\n    .article p {\n      line-height: 1.6;\n      color: #f8f8f2; /* near white */\n    }\n    .button {\n      display: inline-block;\n      margin-top: 12px;\n      padding: 10px 18px;\n      background-color: #6272a4; /* muted blue */\n      color: #f8f8f2 !important;\n      text-decoration: none;\n      border-radius: 5px;\n      font-weight: bold;\n      font-family: 'Ubuntu Mono', monospace;\n      transition: background-color 0.3s ease;\n    }\n    .button:hover {\n      background-color: #50fa7b; /* neon green hover */\n      color: #282a36 !important; /* Dark text on hover */\n    }\n    .footer {\n      background-color: #44475a;\n      padding: 15px;\n      text-align: center;\n      font-size: 13px;\n      color: #6272a4;\n      border-top: 2px solid #50fa7b;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <!-- Header -->\n    <div class=\"header\">\n      <h1>The Barking Terminal</h1>\n      <p>Your weekly paws & bytes from the terminal</p>\n    </div>\n    <!-- Content -->\n<div class=\"content\">\n  {{ $json.combinedHTML }}\n</div>\n\n\n      \n    </div>\n    <!-- Footer -->\n    <div class=\"footer\">\n      <p>Sent with a wag and a wiggle 🐕</p>\n    </div>\n  </div>\n</body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2544,-272],"id":"63d0cb27-9390-47d7-a1a3-43c3a293a23b","name":"Send a message","webhookId":"eaeb78e1-8f77-4c77-8c46-a574d6ac6f84","credentials":{"gmailOAuth2":{"id":"moNyAt4DBUqgeP4x","name":"Gmail account"}}},{"parameters":{"jsCode":"let combinedArticles = '';\n\nitems.forEach(item => {\n  combinedArticles += `\n    <div class=\"article\">\n      <h2>📰 ${item.json.title}</h2>\n      <p>${item.json.summary}</p>\n      <a href=\"${item.json.link}\" class=\"button\">Read More</a>\n    </div>\n  `;\n});\n\nreturn [\n  {\n    json: {\n      combinedHTML: combinedArticles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-272],"id":"86263efc-d18c-4cfa-b1ac-19f63f8d347f","name":"Code3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[736,-16],"id":"56a6a16e-203e-4fc8-ad9e-d9dcb3d6f369","name":"Schedule Trigger"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"n8n_rss","mode":"list","cachedResultName":"n8n_rss"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2688,-272],"id":"7d8a9ac5-c822-4aad-8b24-f53156a94e12","name":"Delete table or rows","credentials":{"mySql":{"id":"EZjbvG22ZA9EBOQB","name":"MySQL account"}}},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1936,144],"id":"233d0c0e-613c-4d16-a921-c00ada982eea","name":"Limit"},{"parameters":{"content":"## Adding to database and sending to email","height":256,"width":944},"type":"n8n-nodes-base.stickyNote","position":[1936,-352],"typeVersion":1,"id":"40d456c0-9e11-4a12-8d57-8bbe37fccdef","name":"Sticky Note"},{"parameters":{"content":"## Searching RSS and only grabbing the last day\n","height":320,"width":896,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1200,32],"typeVersion":1,"id":"9850f364-5818-420f-9ee6-39357e49db83","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1296,-288],"id":"93292edf-d7bc-4a28-b5ef-cd567e064495","name":"Loop Over Items1"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,-288],"id":"5e7f02da-78f6-4a71-9b0a-5dbf87cc7d11","name":"Wait","webhookId":"738db385-52e1-4023-8f81-6b664b9a3817"},{"parameters":{"content":"## Using ai to summarize articles","height":352,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1024,-384],"typeVersion":1,"id":"c7566c9e-adfd-44d6-8808-b46f390f7fe2","name":"Sticky Note1"}],"connections":{"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3db8d02a-abd3-4b72-9907-49c0ec70d3ae","triggerCount":1,"shared":[{"createdAt":"2025-09-06T00:48:44.040Z","updatedAt":"2025-09-06T00:48:44.040Z","role":"workflow:owner","workflowId":"YvKaWsfArjGgVdF2","projectId":"Ig8SWojXt8uajqMZ","project":{"createdAt":"2025-08-11T04:40:21.691Z","updatedAt":"2025-08-11T04:55:47.715Z","id":"Ig8SWojXt8uajqMZ","name":"PT D <ptd@duck.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-11T04:40:21.691Z","updatedAt":"2025-08-11T04:40:21.691Z","role":"project:personalOwner","userId":"5adbdeb0-5b14-4d87-9177-f6b1d587b008","projectId":"Ig8SWojXt8uajqMZ","user":{"createdAt":"2025-08-11T04:40:21.127Z","updatedAt":"2025-09-05T07:21:48.000Z","id":"5adbdeb0-5b14-4d87-9177-f6b1d587b008","email":"ptd@duck.com","firstName":"PT","lastName":"D","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-11T04:55:56.144Z","personalization_survey_n8n_version":"1.105.4","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"23j6AUG0Tb6edgYU","userActivatedAt":1755316762961,"npsSurvey":{"responded":true,"lastShownAt":1755628397099},"dismissedCallouts":{"aiAgentStarterCallout":true}},"role":"global:owner","disabled":false,"mfaEnabled":true,"lastActiveAt":"2025-09-05","isPending":false}}]}}],"tags":[]}